.footer_news{
    color: rgb(54, 51, 51);
    background-color: rgba(237, 235, 232, 0.998);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.footer-menus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.first_line ,a{
    color: rgba(111, 110, 110, 0.817);
    /* margin:0.5%; */
}
.footer_news a:hover{
  cursor: pointer;
  opacity: 0.5;
  text-decoration: underline;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.newsletter_btn1{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: lightgray;
    color: rgba(0, 0, 0, 0.753);
    border-radius: 8px;
    border: none;
}
.last_line{
    padding-bottom: 1%;
}