body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1%;
    margin:1%;
}
hr{
    width:100%;
}
.newsletter_btn{
    padding: 1%;
    color: white;
    background-color: rgb(41, 40, 40);
    border-radius: 10px ;
}
input[type="email"]{
    margin-top:1%;
    padding: 1%;
    border-radius: 10px;
}
ul li{
    list-style-type:none;
    padding:0.3%;
}
ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}